.forgot-password {
  width: 100%;
  height: auto;
}
.page10-div {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.reset-password {
  width: 15%;
  margin-bottom: 20px;
}
.resetPassword {
  font-weight: 500;
  font-size: large;
}

.enterEmail {
  font-weight: 20vh;
  font-size: 15px;
  margin-bottom: 10px;
  
}
.enter-div {
  display: flex;
  justify-content: flex-start;
}
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cancel{
    margin-top: 10px;
    width: 55%;
    display: flex;
    justify-content: flex-end;
}